<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617781225199-psfhbd2dcnk9ajcvpar7guvp026qn7bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617781225199-psfhbd2dcnk9ajcvpar7guvp026qn7bp</string>
	<key>API_KEY</key>
	<string>AIzaSyA3P-kkviso8fl-Hi617GeNDtHqg4UcKss</string>
	<key>GCM_SENDER_ID</key>
	<string>617781225199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JCD.ScoopMe</string>
	<key>PROJECT_ID</key>
	<string>scoopme-56ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>scoopme-56ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:617781225199:ios:36af790a55f2e25b331d1a</string>
	<key>DATABASE_URL</key>
	<string>https://scoopme-56ebd.firebaseio.com</string>
</dict>
</plist>
